#btn-menu-collapse {
    margin: 1.6rem !important;
    padding: 0;
    border: none;
    outline: none !important;
    width: 25px;
    height: 25px;
    border-radius: 50% !important;
    background: none;
    transform: rotate(15deg);
    text-align: center
}
#btn-menu-collapse a {
    padding: 0 !important;
    line-height: 1.2
}
#btn-menu-collapse img {
    max-width: 20px
}
#btn-menu-open a:hover, #btn-menu-open a:active, #btn-menu-open a:after {
    color: #00b8cc !important
}

.navbar-bottom > img {
    position: fixed;
    bottom: 10px;
    width: 60px;
    z-index: 3;
    transform-origin: 50% 50%;
    cursor: pointer
}
#next_s {
    right: 20px
}
#prev_s {
    left: 20px
}
.navbar-bottom img {
    width: 60px
}
.navbar-bottom .horiz {
    /*-webkit-animation: to_horiz .5s;
    animation: to_horiz .5s*/
}
.navbar-bottom .vert {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    /*-webkit-animation: to_vert .5s;
    animation: to_vert .5s*/
}
#prev_s.begin, #next_s.end {
    display: none
}
#next_s.horiz, #next_s.horiz.anim {
    -webkit-animation: forward_h 2s;
    animation: forward_h 2s
}
#prev_s.horiz.anim {
    -webkit-animation: backward_h 2s;
    animation: backward_h 2s
}
#next_s.vert.anim {
    -webkit-animation: forward_v 2s;
    animation: forward_v 2s
}
#prev_s.vert.anim {
    -webkit-animation: backward_v 2s;
    animation: backward_v 2s
}
@keyframes forward_h {
    0% {opacity: 0; transform: translateX(0)}
    25% {opacity: 1; transform: translateX(15px)}
    100% {transform: translateX(0)}
}
@keyframes backward_h {
    0% {opacity: 0; transform: translateX(0)}
    25% {opacity: 1; transform: translateX(-15px)}
    100% {transform: translateX(0)}
}
@keyframes forward_v {
    0% {opacity: 0; transform: translateY(0) rotate(0)}
    25% {opacity: 1; transform: translateY(15px) rotate(90deg)}
    100% {transform: translateY(0) rotate(90deg)}
}
@keyframes backward_v {
    0% {opacity: 0; transform: translateY(0) rotate(90deg)}
    25% {opacity: 1; transform: translateY(-15px) rotate(0)}
    100% {transform: translateY(0) rotate(0)}
}

.navbar {
    position: fixed;
    top: 10px;
    right: 10px;
    width: fit-content;
    z-index: 3;
}
.navbar ul {
    padding-inline-start: 0;
    max-width: 170px;
}
.navbar ul li, .navbar ul li a, .g_block .caption {
    padding: 5px;
    text-align: center
}
.navbar .nav-item:not(:first-of-type), 
.navbar #btn-menu-collapse,
.navbar.opened .nav-item:first-of-type {
    display: none
}
.navbar .nav-item:first-of-type, 
.navbar.opened .nav-item:not(:first-of-type), 
.navbar.opened #btn-menu-collapse {
    display: list-item
}
.navbar ul li a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.navbar .nav-item, .navbar .nav-item {
    opacity: 0;
    transform: translateX(0) rotate(0);
    -webkit-animation: nav_close 1s;
    animation: nav_close 1s
}
.navbar.opened .nav-item, .navbar.opened .nav-item {
    -webkit-animation: nav_open 1s;
    animation: nav_open 1s
}
.navbar.opened .nav-item {
    opacity: 1
}
@keyframes nav_open {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes nav_close {
    from {opacity: 1}
    to {opacity: 0}
}
.navbar ul li:nth-child(1) {
    padding: 5px;
    transform: translateX(0) rotate(0);
}
.navbar.opened ul li:nth-child(2) {
    transform: translateX(-1px) rotate(4deg);
}
.navbar.opened ul li:nth-child(3) {
    transform: translateX(-4px) rotate(8deg);
}
.navbar.opened ul li:nth-child(4) {
    transform: translateX(-8px) rotate(12deg);
}
.navbar.opened ul li:nth-child(5) {
    transform: translateX(-15px) rotate(16deg);
}
.navbar ul li, .g_block .caption {
    margin: 2px 0;
    padding: 3px;
    list-style-type: none;
    border-radius: 3px;
    border: none;
    /*box-shadow: 0px 2px 15px #fff;*/
    background: rgba(0, 112, 124, .5);
    /*background: -webkit-linear-gradient(top, #fff rgba(255,255,255,.6));
    background: -o-linear-gradient(bottom, #fff, rgba(255,255,255,.6));
    background: -moz-linear-gradient(bottom, #fff, rgba(255,255,255,.6));*/
    /*background: linear-gradient(to bottom, rgba(0, 112, 124, .5), rgba(255,255,255,0));/*#00707C*/
    background: linear-gradient(to bottom, rgb(0, 92, 102, .8), rgba(0,0,0,0));
    transform-origin: 50% 50%;
}
.navbar ul li a, .navbar ul li a {
    padding: 6px 10px !important
}
.navbar .nav-item.active a {
    color: #fff
}
.navbar .nav-btn::before, .navbar .nav-btn::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: url(../img/border_nav.png) no-repeat
  /*
  background: rgba(255,255,255,.75);
  background: -webkit-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
  background: -o-linear-gradient(bottom, #fff, rgba(255,255,255,0));
  background: -moz-linear-gradient(bottom, #fff, rgba(255,255,255,0))*/
}
.navbar .nav-btn a::before, .navbar .nav-btn a::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: url(../img/border_nav.png) no-repeat;
}
.navbar .nav-btn:hover::after {
  width: 100%
}
.navbar .nav-btn:hover a::after {
  height: 100%
}
.nav-btn::after {
  left: 0;
  bottom: 0;
  transition-delay: 0.6s;
}
.nav-btn a::after {
  transition-delay: 0.4s;
  right: 0;
  bottom: 0
}

.nav-btn:hover::after {
  transition-delay: 0s;
}
.nav-btn:hover a::after{
  transition-delay: 0.2s;
}
.nav-btn:hover::before{
  transition-delay: 0.4s;
}
.nav-btn:hover a::before{
  transition-delay: 0.6s;
}

/* Responsive navbar */
@media screen and (max-width: 1024px) {
    /*.navbar a {
        font-size: 17px
    }*/
    #btn-menu-collapse {
        margin: 1.6rem 1.6rem 1.6rem 0 !important;
        width: 35px;
        height: 35px
    }
    #btn-menu-collapse a {
        padding: 15px 5px 0 0 !important;
        line-height: 1.8;
    }
}
@media screen and (max-width: 767px) {
    .navbar {
        left: 10px /* if browser not isChromiumBased - supposed to set -95px */
    }
    .navbar ul li:nth-child(1) {
        transform: translateX(0) rotate(0);
    }
    .navbar.opened ul li:nth-child(2) {
        transform: translateX(1px) rotate(-2deg);
    }
    .navbar.opened ul li:nth-child(3) {
        transform: translateX(4px) rotate(-6deg);
    }
    .navbar.opened ul li:nth-child(4) {
        transform: translateX(10px) rotate(-9deg);
    }
    .navbar.opened ul li:nth-child(5) {
        transform: translateX(18px) rotate(-14deg);
    }
    #btn-menu-collapse {
        margin: 0 4.2rem 1.6rem !important;
        -webkit-transform: rotate(-22deg);
        -moz-transform: rotate(-22deg);
        -o-transform: rotate(-22deg);
        -ms-transform: rotate(-22deg);
        transform: rotate(-22deg);
    }
    #btn-menu-collapse a {
        padding: 15px 5px 0 0 !important;
        line-height: 1.6
    }
    .section.section-intro .block-actor-decor img {
        max-height: 60vh;
    }
}
@media screen and (max-width: 550px) {
    .navbar ul {
        padding-inline-end: 60px
    }
    .navbar ul li {
        padding: 0;
        min-width: 70px
    }
    .navbar ul li a {
        font-size: 12px
    }
    .navbar ul [data-nav="1"] {
        padding-left: 0 !important
    }
    #btn-menu-collapse {
        margin: 0 4.2rem 1.6rem 3rem !important
    }
    #btn-menu-collapse img {
        max-width: 15px
    }
    #next_s {
        right: 15px
    }
    #prev_s {
        left: 15px
    }
    .navbar-bottom img {
        width: 50px
    }
}
