#btn-menu-collapse {
    margin: 1.6rem !important;
    padding: 0;
    border: none;
    outline: none !important;
    width: 25px;
    height: 25px;
    border-radius: 50% !important;
    text-align: center
}
#btn-menu-collapse a {
    padding: 0 !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px !important;
    font-weight: 400;
    font-style: italic;
    line-height: 1.2;
}

.navbar {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 3;
}
.navbar a {
    /*font-family: 'PT Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.navbar ul {
    padding-inline-start: 40px;
    max-width: 170px;
}
.navbar ul li, .navbar ul li a, .g_block .caption {
    padding: 5px;
    text-align: center
}
.navbar .btn-3:not(:first-of-type), 
.navbar #btn-menu-collapse,
.navbar.opened .btn-3:first-of-type {
    display: none
}
.navbar .btn-3:first-of-type, 
.navbar.opened .btn-3:not(:first-of-type), 
.navbar.opened #btn-menu-collapse {
    display: list-item
}
.navbar .nav-item, .navbar .nav-item {
    opacity: 0;
    transform: translateX(0) rotate(0);
    -webkit-animation: nav_close 1s;
    animation: nav_close 1s
}
.navbar.opened .nav-item, .navbar.opened .nav-item {
    -webkit-animation: nav_open 1s;
    animation: nav_open 1s
}
.navbar.opened .nav-item {
    opacity: 1
}
@keyframes nav_open {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes nav_close {
    from {opacity: 1}
    to {opacity: 0}
}
.navbar ul li:nth-child(1) {
    padding: 12px 5px;
    transform: translateX(-7px) rotate(1deg);
}
.navbar.opened ul li:nth-child(2) {
    transform: translateX(-5px) rotate(2deg);
}
.navbar.opened ul li:nth-child(3) {
    transform: translateX(-3px) rotate(4deg);
}
.navbar.opened ul li:nth-child(4) {
    transform: translateX(-7px) rotate(8deg);
}
.navbar.opened ul li:nth-child(5) {
    transform: translateX(-15px) rotate(14deg);
}
.navbar ul li, .g_block .caption {
    margin: 2px 0;
    padding: 3px;
    list-style-type: none;
    border-radius: 3px;
    border: none;
    /*box-shadow: 0px 2px 15px #fff;*/
    background: rgba(0, 112, 124, .5);
    /*background: -webkit-linear-gradient(top, #fff rgba(255,255,255,.6));
    background: -o-linear-gradient(bottom, #fff, rgba(255,255,255,.6));
    background: -moz-linear-gradient(bottom, #fff, rgba(255,255,255,.6));*/
    background: linear-gradient(to bottom, rgba(0, 112, 124, .5), rgba(255,255,255,0));/*#00707C*/
    transform-origin: 50% 50%;
}
.navbar ul li a, .navbar ul li a {
    padding: 6px 10px !important
}
.navbar .nav-item.active a {
    color: #fff
}
.navbar .btn-3::before, .navbar .btn-3::after {
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: url(../img/border_nav.png) no-repeat
  /*
  background: rgba(255,255,255,.75);
  background: -webkit-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0));
  background: -o-linear-gradient(bottom, #fff, rgba(255,255,255,0));
  background: -moz-linear-gradient(bottom, #fff, rgba(255,255,255,0))*/
}
.navbar .btn-3 a::before, .navbar .btn-3 a::after {
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: url(../img/border_nav.png) no-repeat;
}
.navbar .btn-3:hover::after {
  width: 100%
}
.navbar .btn-3:hover a::after {
  height: 100%
}
.btn-3::after {
  left: 0;
  bottom: 0;
  transition-delay: 0.6s;
}
.btn-3 a::after {
  transition-delay: 0.4s;
  right: 0;
  bottom: 0
}

.btn-3:hover::after {
  transition-delay: 0s;
}
.btn-3:hover a::after{
  transition-delay: 0.2s;
}
.btn-3:hover::before{
  transition-delay: 0.4s;
}
.btn-3:hover a::before{
  transition-delay: 0.6s;
}

/* Responsive navbar */
@media screen and (max-width: 1024px) {
    .navbar a {
        font-size: 17px
    }
    .navbar ul li {
        padding: 10px
    }
    #btn-menu-collapse {
        margin: 1.6rem 1.6rem 1.6rem 0 !important;
        width: 50px;
        height: 50px;
    }
    #btn-menu-collapse a {
        padding: 15px 5px 0 0 !important;
        line-height: 1.8;
    }
}
@media screen and (max-width: 767px) {
    .navbar {
        left: -20px
    }
    .navbar ul li:nth-child(1) {
        transform: translateX(7px) rotate(-1deg);
    }
    .navbar.opened ul li:nth-child(2) {
        transform: translateX(5px) rotate(-2deg);
    }
    .navbar.opened ul li:nth-child(3) {
        transform: translateX(3px) rotate(-4deg);
    }
    .navbar.opened ul li:nth-child(4) {
        transform: translateX(7px) rotate(-8deg);
    }
    .navbar.opened ul li:nth-child(5) {
        transform: translateX(15px) rotate(-14deg);
    }
    #btn-menu-collapse {
        margin: 0 3.2rem 1.6rem !important;
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    #btn-menu-collapse a {
        padding: 15px 5px 0 0 !important;
        line-height: 1.8;
    }
    .section.section-intro .block-actor-decor img {
        max-height: 60vh;
    }
}
@media screen and (max-width: 550px) {
    .navbar a {
        font-size: 15px
    }
    .navbar ul li {
        padding: 3px
    }
}