/* Containers */
/*@media only screen and (max-width: 768px) and (orientation: landscape) {*/
@media screen and (max-width: 1366px) {
    .section .section-content {
        font-size: 18px
    }
    .block-intro-text {
        margin-top: 5vh
    }
    .section.section-intro .block-actor-decor img {
        max-height: 75vh
    }
    #section_3.section .section-content-bg > div {
        left: -50%;
        margin: 30px auto 0;
        width: 100vw
    }
    #section_3.section  .section-content-big > div { /* Override native Bootstrap's .row (in situation) */
        margin-left: 50px;
        margin-right: 50px;
    }
    /*.section .section-content {
        width: 75vw; 
    }*/
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*.tz-gallery .thumbnail .fit-content {
        max-height: -webkit-fill-available
    }
    .tz-gallery .thumbnail .fit-content {
        margin: 0 auto;
        max-height: 15vh;
        height: fit-content
    }*/
}
@media screen and (max-width: 1024px) {
    p, pre, button, li, label, code {
        font-size: 16px
    }
    .section-header-txt {
        font-size: 28px
    }
    .section.section-intro .block-actor-decor img {
        padding-left: 10vw;
        max-height: 65vh
    }
    #section_3.section .section-content-bg {
        left: -50%
    }
    #section_3.section .section-content-bg > div {
        margin-left: 30vw
    }
    .list-companies {
        margin-top: 10vh
    }
    #section_4.section .section-content-bg {
        width: 80vw
    }
    #section_4 .section-content-bg > div {
        margin: 30px auto;
        max-width: 66.67%
    }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
    #section_3.section .section-content-bg {
        width: 130vh
    }
}
@media screen and (max-width: 767px) {
    .section-header-txt {
        font-size: 26px
    }
    ul {
        padding-left: 100px;
    }
    ul li {
        padding: 7px;
        list-style-type: none;
        float: left;
    }
    /*.section .section-content {
        width: 90vw; 
    }*/
    .invitation {
        margin-right: 0
    }
    .section.section-intro .block-actor-decor img {
        padding-left: 0
    }
    .header_gallery {
        max-width: 95%
    }
    .spec_items {
        border-radius: 5px;
    }
    .section .section-content-bg > div {
        margin-left: 20px
    }
    .section.section-intro .block-actor-decor img {
        margin-top: 10vh
    }
    .block-intro-title .letter-q {
        top: -18px;
        left: -50px;
        width: 70%;
    }
    .block-intro-title > img {
        max-height: 75px;
    }
    #letter-q-circle {
        width: 75px
    }
    .letter-q1 {
        top: 50px;
        left: -18px;
    }
    #letter-q-circle1 {
        width: 40px
    }
    .header-title-txt img {
        max-height: 69px;
    }
    .block-intro-title .letter-q {
        top: -10px;
        left: -65px
    }
    #section_2.section .section-content-bg {
        right: 20vw
    }
    #section_3.section .section-content-bg {
        top: -25vh;
        width: 160vw;
        height: 160vw;
    }
    #section_3.section .section-content-big {
        margin-top: -30vh
    }
    #section_3.section  .section-content-big > div { /* Return to native Bootstrap's .row (in situation) */
        margin-left: -15px;
        margin-right: -15px;
    }
    .list-companies {
        margin: 50px auto;
        transform: rotate(0)
    }
    #gallery {
        height: 200px;
    }
    .tz-gallery .thumbnail .fit-content, .tz-gallery .thumbnail img {
        max-height: 150px
    }
    .d-sm-none { /* Bootstrap 4 style */
        display: none
    }
    .lightbox img {
        transition: all .25s;
        -webkit-transition: all .25s; 
        opacity: .5
    }
    .roll {
        top: 0;
        position: absolute;
        width: 90% !important;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }
    .lightbox img:active, .lightbox img:after {
        transition: all .5s;
        -webkit-transition: all .5s; 
        opacity: 1
    }
    /* add the font awesome icon */
    .roll::before {
        display: flex;
        align-items: center;
        justify-content: center;
        /*content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 50 50" version="1.1" width="50px" height="50px"><g><path fill="rgba(255,255,255,.75)" d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z "/></g></svg>');*/
        content: url(../img/modal.svg);
    }
    #section_4.section .section-content-bg {
        margin-left: -44vw;
        width: 120vw
    }
    #section_4 .section-content-bg > div {
        max-width: 75%;
    }
}
@media screen and (max-width: 550px) {
    p, pre, button, li, label, code {
        font-size: 16px
    }
    .section.section-intro .block-actor-decor img {
        max-height: 55vh
    }
    #header-right {
        margin-left: -15vw
    }
    .block-intro-title .letter-q {
        top: 0;
        left: -50px;
    }
    #letter-q-circle {
        width: 60px;
    }
    #letter-q-line {
        width: 12px
    }
    .letter-q1 {
        top: 45px;
        left: -15px
    }
    .header-title-txt img {
        max-height: 65px;
    }
    .invitation, .gallery-container, #info .g_block {
        margin-left: 120vw;
    }
    .invitation, #info .g_block {
        width: 90vw
    }
    #section_3.section .section-content-big {
        margin-top: -20vh
    }
    #section_3.section .section-content-big {
        left: 0
    }
    #section_3.section .section-header-txt {
        margin-top: 0
    }
    .list-companies {
        margin: 20px auto
    }
    #gallery {
        height: 30vh
    }
    .list-companies {
        padding: 0 0 0 40px
    }
    /*.tz-gallery .thumbnail .fit-content, .tz-gallery .thumbnail img {
        max-height: 80px
    }*/ /* last old styles */
    #section_4.section {
        height: 45vh
    }
    #section_4.section .section-content-bg {
        width: 130vw;
        margin-left: -44vw
    }
    #section_4 .section-content-bg > div {
        margin: 80px auto
    }
    #section_4 img {
        margin: 5px 0 10px;
        max-width: 80px
    }
}
@media screen and (max-width: 550px) and (max-height: 600px) {
    #section_3 .section-title {
        font-size: inherit
    }
    .list-companies > li > label {
        font-size: inherit
    }
    .tz-gallery .thumbnail img {
        max-height: 20vh
    }
    #section_4 .section-content-bg > div {
        max-width: 80%;
    }
}
@media screen and (max-width: 400px) {
    .section-intro > div {
        padding-top: 140px
    }
    .container-space {
        width: 250vw
    }
    .header-title-txt {
        margin-top: 15px
    }
    #letter-q-circle {
        width: 55px
    }
    .block-intro-title .letter-q {
        top: 5px
    }
    .letter-q1 {
        top: 48px;
        left: -17px;
    }
    #letter-q-circle1 {
        width: 30px
    }
    #letter-q-line {
        width: 10px
    }
    .block-intro-title > img {
        max-height: 60px
    }
    #section_2.section .section-content-bg {
        right: 60vw;
        width: 110vw;
        height: 110vw
    }
    .invitation {
        width: 110vw
    }
    #section_3.section .section-header-txt, .block-intro-text {
        margin-top: -10px
    }
    #gallery {
        height: 26vh
    }
    .tz-gallery .thumbnail img {
        max-height: 18vh
    }
}
@media screen and (max-width: 400px) and (max-height: 600px) {
    .section-intro > div {
        padding-top: 90px
    }
    .header-title-txt img {
        max-height: 55px;
    }
    .section-header-txt {
        font-size: 22px;
    }
    #section_2.section .section-content-bg {
        right: 43vw
    }
    #section_4 .section-content-bg > div {
        margin: 25px auto
    }
}
