/* Containers */
/*@media only screen and (max-width: 768px) and (orientation: landscape) {*/
@media screen and (max-device-width: 1366px) {
    .section.section-intro .block-actor-decor img {
        margin-top: -25vh;
        padding-left: 15vw;
        max-height: 65vh
    }
    /*#section_3.section .section-content-bg {
        left: -25%;
        width: 170vh
    }*/
}
@media screen and (max-width: 1366px) {
    .section .section-content {
        font-size: 18px
    }
    .block-intro-text {
        margin-top: 5vh
    }
    #section_3.section .section-content-bg > div {
        left: -50%;
        margin: 30px auto 0;
        width: 100vw
    }
    #section_3.section  .section-content-big > div { /* Override native Bootstrap's .row (in situation) */
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #section_4 img {
        margin: 5px 0 10px;
        max-width: 85px
    }
    /*.tz-gallery .thumbnail .fit-content {
        max-height: -webkit-fill-available
    }
    .tz-gallery .thumbnail .fit-content {
        margin: 0 auto;
        max-height: 15vh;
        height: fit-content
    }*/
}
@media screen and (min-width: 768px) and (orientation: portrait) {
    .section.section-intro .block-actor-decor img {
        margin-top: 0;
        max-height: 55vh !important
    }
}
@media screen and (max-width: 1024px) {
    p, pre, button, li, label, code {
        font-size: 16px
    }
    .section-header-txt {
        font-size: 28px
    }
    .section.section-intro .block-actor-decor img {
        margin-top: -25vh;
        padding-left: 10vw;
        max-height: 65vh
    }
    #section_3.section .section-content-bg {
        left: -50%
    }
    #section_3.section .section-content-bg > div {
        margin-left: 30vw
    }
    .list-companies {
        margin-top: 10vh
    }
    #section_4.section .section-content-bg {
        width: 80vw
    }
    #section_4 .section-content-bg > div {
        
    }
    #section_4 .section-content-bg > div {
        
        max-width: 66.67%
    }
    .logo-organizer {
        margin-bottom: 15px
    }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
    #section_3.section .section-content-bg {
        width: 130vh
    }
}
@media screen and (max-width: 767px) {
    .section-header-txt {
        font-size: 26px
    }
    ul {
        padding-left: 100px;
    }
    ul li {
        padding: 7px;
        list-style-type: none;
        float: left;
    }
    /*.section .section-content {
        width: 90vw; 
    }*/
    .invitation {
        margin-right: 0
    }
    .section.section-intro .block-actor-decor img {
        padding-left: 0
    }
    .header_gallery {
        max-width: 95%
    }
    .spec_items {
        border-radius: 5px;
    }
    .section .section-content-bg > div {
        margin-left: 20px
    }
    .section.section-intro .block-actor-decor img {
        margin-top: 10vh
    }
    .block-intro-title .letter-q {
        top: -18px;
        left: -50px;
        width: 70%;
    }
    .block-intro-title > img {
        max-height: 75px;
    }
    #letter-q-circle {
        width: 75px
    }
    .letter-q1 {
        top: 50px;
        left: -18px;
    }
    #letter-q-circle1 {
        width: 40px
    }
    .header-title-txt img {
        max-height: 69px;
    }
    .block-intro-title .letter-q {
        top: -10px;
        left: -65px
    }
    #section_2.section .section-content-bg {
        right: 20vw
    }
    #section_3.section .section-content-bg {
        top: -25vh;
        width: 160vw;
        height: 160vw;
    }
    #section_3.section .section-content-big {
        margin-top: -30vh
    }
    #section_3.section  .section-content-big > div { /* Return to native Bootstrap's .row (in situation) */
        margin-left: -15px;
        margin-right: -15px;
    }
    .list-companies {
        margin: 50px auto;
        transform: rotate(0)
    }
    #gallery {
        height: 200px;
    }
    .tz-gallery .thumbnail .fit-content, .tz-gallery .thumbnail img {
        max-height: 150px
    }
    .d-sm-none { /* Bootstrap 4 style */
        display: none
    }
    .lightbox img {
        transition: all .25s;
        -webkit-transition: all .25s; 
        opacity: .5
    }
    .roll {
        top: 0;
        position: absolute;
        width: 90% !important;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }
    .lightbox img:active, .lightbox img:after {
        transition: all .5s;
        -webkit-transition: all .5s; 
        opacity: 1
    }
    /* add the font awesome icon */
    .roll::before {
        display: flex;
        align-items: center;
        justify-content: center;
        content: url(../img/modal.svg);
    }
    #section_4.section .section-content-bg {
        margin-left: -44vw;
        width: 120vw
    }
    #section_4 .section-content-bg > div {
        max-width: 75%;
    }
    .logo-organizer {
        margin-bottom: 5px
    }
}
@media screen and (max-width: 550px) {
    .section.section-intro .block-actor-decor img {
        max-height: 55vh
    }
    #header-right {
        margin-left: -15vw
    }
    .block-intro-title .letter-q {
        top: 0;
        left: -50px;
    }
    #letter-q-circle {
        width: 60px;
    }
    #letter-q-line {
        width: 12px
    }
    .letter-q1 {
        top: 45px;
        left: -15px
    }
    .header-title-txt img {
        max-height: 65px;
    }
    .invitation, .gallery-container, #info .g_block {
        margin-left: 120vw;
    }
    .invitation, #info .g_block {
        width: 90vw
    }
    #section_3.section .section-content-big {
        margin-top: -20vh
    }
    #section_3.section .section-content-big {
        left: 0
    }
    #section_3.section .section-header-txt {
        margin-top: 0
    }
    .list-companies {
        margin: 20px auto
    }
    #gallery {
        height: 30vh
    }
    .list-companies {
        padding: 0 0 0 40px
    }
    /*.tz-gallery .thumbnail .fit-content, .tz-gallery .thumbnail img {
        max-height: 80px
    }*/ /* last old styles */
    #section_4.section {
        height: 45vh
    }
    #section_4.section .section-content-bg {
        width: 130vw;
        margin-left: -44vw
    }
    #section_4 .section-content-bg > div {
        margin: 80px auto
    }
    #section_4 img {
        margin: 5px 0 10px;
        max-width: 80px
    }
    #robotdebris {
        margin-top: -200px
    }
    #robotdebris2 {
        top: 90px
    }
}
@media screen and (max-width: 550px) and (max-height: 600px) {
    #section_3 .section-title {
        font-size: inherit
    }
    .list-companies > li > label {
        font-size: inherit
    }
    .tz-gallery .thumbnail img {
        max-height: 20vh
    }
    #section_4 .section-content-bg > div {
        max-width: 80%;
    }
}
@media screen and (max-width: 400px) {
    .section-intro > div {
        padding-top: 140px
    }
    .container-space {
        width: 280vw
    }
    .header-title-txt {
        margin-top: 15px
    }
    #letter-q-circle {
        width: 55px
    }
    .block-intro-title .letter-q {
        top: 5px
    }
    .letter-q1 {
        top: 48px;
        left: -17px;
    }
    #letter-q-circle1 {
        width: 30px
    }
    #letter-q-line {
        width: 10px
    }
    .block-intro-title > img {
        max-height: 60px
    }
    #robotdebris3 {
        width: 80px
    }
    #section_2.section .section-content-bg {
        right: 33vw;
        width: 110vw;
        height: 110vw
    }
    .invitation {
        width: 110vw
    }
    #section_3.section .section-header-txt, .block-intro-text {
        margin-top: -10px
    }
    #gallery {
        height: 26vh
    }
    .tz-gallery .thumbnail img {
        max-height: 18vh
    }
    #section_4 img {
        max-width: 72px
    }
    .social img {
        max-width: 60px
    }
}
@media screen and (max-width: 380px) {
    #section_2.section .section-content-bg {
        right: 68vw
    }
    #section_4 .section-content-bg > div {
        margin: 50px auto
    }
}
@media screen and (max-width: 350px) {
    #section_2.section .section-content-bg {
        right: 75vw
    }
}
@media screen and (max-width: 400px) and (max-height: 600px) {
    p, pre, button, li, label, code {
        font-size: 15px
    }
    .section-intro > div {
        padding-top: 90px
    }
    .header-title-txt img {
        max-height: 55px;
    }
    .section-header-txt {
        font-size: 22px;
    }
    #section_4 .section-content-bg > div {
        margin: 25px auto
    }
}