/*<div class="bg-section-cover"><div>

</div><div src="http://placekitten.com/300">
  <pre>
    sdfsdfsdfsdf
  sdfsdf
  sdfsdf
  </pre>
</div></div></div>*/
div > img {
    filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    margin: -5px -10px -10px -5px;
}
.bg-section-cover > div > div {
  background-color: #f43;
  height: auto;
  filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    margin: 0 -10px -5px -10px;
      width:120%;
    top:-5%;
    left:-5%;
    transform:rotate(3deg); 
}
.bg-section-cover div {
  width:120%;
  height: auto;
    transform:rotate(-2deg); 
    margin: 20px;
    overflow: hidden;
}
