/* General styles
---------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,600,700,800,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|PT+Sans:400,700|Roboto+Condensed:300,400,700&subset=cyrillic,cyrillic-ext');

body {
    font: normal 16px sans-serif;
}
::-moz-selection {background: #552020}
::selection {background: #552020}
.horizon.scroll img {
    margin: -1.25em 0 0 -44px;
    height: 1.5em
}
p, a, button, li, label, code, pre, h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(255,255,255, .75)
}
p, pre, button, li, label, code {
    font-size: 16px;
    outline: none;
    border: none
} 
a {
    font-weight: 300;
    text-decoration: none;
    color: #80f2ff; /*#00707c*//*#d7066c;*/
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    -webkit-user-drag: none
}
a:hover, a:focus, a:active, a:after {
    color: #fff !important;
    text-decoration: none
}
a:visited {
    color: #00b8cc
}
.test1 {color: #b95050}
.test2 {color: #552020}
.test3 {color: #e70706}
.test3 {color: #c60f0f}
.test5 {color: #00707c}

/* Animations */
.anim_arr1 {
    -webkit-animation: an_left 1.2s infinite;
}
.anim_arr2 {
    -webkit-animation: an_left .8s infinite;
}
@-webkit-keyframes an_left {
    0% {transform: translateX(0);}
    45% {transform: translateX(10px);}
    45% {transform: translateX(10px);}
    100% {transform: translateX(0);}
}

/* Blocks */
#main {
    z-index: 2; /* slide under group 3 and 5 */
}
.container-space {
    width: 230vw
}
.section {
    width: 100vw;
    height: 100vh;
}
.section > div {
    padding-top: 75px
}
.section.section-container, .section.section-intro .block-actor-decor {
    display: flex;
    align-items: center
}
.section.section-container {
    justify-content: center
}
.section.inline-section {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
}
.section-header-txt {
    color: #f91f1f;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;/*800*/
    transform: scale(.9, 1);
    text-align: center;
    font-size: 24px;
}
h1.section-header-txt > span {
    white-space: nowrap
}
.section-header-txt.rsdf {
    color: #f91f1f;
    font-family: 'Ubuntu Mono', monospace;
    /*font-family: 'Anonymous Pro', sans-serif;*/
    /*font-family: 'Myriad Pro Regular', sans-serif;*/
    font-weight: 800;
    transform: scale(.9, 1);/*transform: scale(.85, 1);*/
    text-align: center;
}
/*font-family: 'Anonymous Pro', monospace;*/
/*font-family: 'PT Mono', monospace;*/
.section-title {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 300;
    text-align: center
}
/*.section-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}*/
.section .section-content {
    padding: 15px;
    width: 50vw; 
    max-height: 90vh;
    font-weight: 300;
    font-size: 16px;
    /*background: -webkit-linear-gradient(top left, #fff rgba(255,255,255,.3));
    background: -o-linear-gradient(bottom right, #fff, rgba(255,255,255,.3));
    background: -moz-linear-gradient(bottom right, #fff, rgba(255,255,255,.3));
    background: linear-gradient(to bottom right, #fff, rgba(255,255,255,.3));*/
    /*background: url(img/bg_section.png);*/
}
.section.inline-section > div, .section .section-content {
    /*background-position: 50% 50% !important;
    background-size: 120% auto !important;
    overflow: hidden;
    transform: rotate(1deg);*/
}
.section.section-content .section-bg-cover {
    left: 0;
    position: absolute;
    width: 100vw;
    height: auto
}
.section .section-content-bg {
    position: absolute;
    border-radius: 50%;
    background-position: 50% 50% !important;
    background-size: 120% auto !important;
    background-repeat: no-repeat !important
}
.section .section-content-bg > div {
    margin: 25% auto;
    padding: 0 30px
}
@media screen and (max-width: 1024px) {
    .section .section-content-bg > div {
        max-width: 90%
    }
}
@media screen and (max-width: 767px) {
    .section .section-content-bg > div {
        margin-left: 90px;
    }
}
h1.section-header-txt .hidden-link,
h1.section-header-txt .hidden-link:hover, 
h1.section-header-txt .hidden-link:active,
h1.section-header-txt .hidden-link:after,
h1.section-header-txt .hidden-link:visited {
    color: #f91f1f !important;
    font-weight: 400;
    cursor: none
}
.d-none { /* Bootstrap 4 style */
    display: none
}

/* Styles for special categories
---------------------------------------- */
/* Styles for particular sections */
#section_2.section .section-content-bg {/*#section_2*/
    top: 30vh;
    width: 450px;
    height: 450px;
    right: 40vw;
    /*background: -webkit-linear-gradient(top left, #fff rgba(255,255,255,.3));
    background: -o-linear-gradient(bottom right, #fff, rgba(255,255,255,.3));
    background: -moz-linear-gradient(bottom right, #fff, rgba(255,255,255,.3));
    background: linear-gradient(to bottom right, #fff, rgba(255,255,255,.3));*/
    background: linear-gradient(to bottom right, #5c2323, rgba(0,0,0,0.7));
}
#section_3 .section-header-txt {
    color: rgba(255,255,255,0.85)
}
#section_3.section .section-content-bg {/*#section_2*/
    top: -23vh;
    left: -25%;
    width: 250vh;
    height: 130vh;
    background: linear-gradient(to bottom right, #002e33, rgba(0,0,0,.5));
}
#section_3.section .section-content-big {
    position: absolute;
    margin-top: -20vh;
    width: 100%;
}
#section_3.section .section-content-bg > div {
    margin: 50px auto 0;
    width: 90vw;
}
#section_3.section  .section-content-big > div { /* Override native Bootstrap's .row (in situation) */
    margin-left: 180px;
    margin-right: 180px;
}
#section_3.section {
    height: 80vh
}
#section_3.section .section-content {
    transform-origin: 50% 50%;
    transform: rotate(-0.1deg)
}
#section_3.section .section-content {
    width: 80vw 
}
/*#section_3 .section-header-txt {
    margin-bottom: 20px
}*/

/* Info block */
#section_4.section {
    height: 75vh
}
#section_4.section .section-content-bg {
    width: 60vw;
    display: flex;
    height: -webkit-fill-available;
    border-radius: 0;
    background-position: top !important;
    background-size: 100% auto !important;
}
#section_4 .section-content-bg > div {
    margin: 90px auto;
    max-width: 50%;
}
#section_4 img {
    margin: 15px 0 20px;
    max-width: 100px;
}
#section_4 p {
    margin-bottom: 5px
}
.logo-organizer {
    margin-bottom: 25px
}
.social {
    width: 50%;
    text-align: center
}
.social img {
    padding: 0 15px;
    width: 70px;
}

/* Intro section */
.section.section-intro .block-actor-decor img {
    margin-top: -20vh;/*-155px (75px + 30px + 50px)*/
    padding-left: 15vw;
    max-height: 80vh;
}
.block-intro-text {
    margin-top: 10vh
}
.block-intro-title > img {
    max-height: 100px
}
.block-intro-title .letter-q {
    position: absolute;
    top: 0;
    left: -90px;
    width: 100%;
    height: 100%;
}
.letter-q img {
    max-width: 50px;
    opacity: 0;
}
.letter-q1 {
    position: absolute;
    top: 78px;
    left: -30px
}
#letter-q-circle {
    width: 100px
}
#letter-q-circle1 {
    width: 55px
}
#letter-q-circle.anim {
    -moz-animation: rotation 10s infinite;
    -ms-animation: rotation 10s infinite;
    -o-animation: rotation 10s infinite;
    -webkit-animation: rotation 10s infinite;
    animation: rotation 10s infinite;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}
#letter-q-circle1.anim {
    -webkit-animation: rotation1 10s infinite;
    animation: rotation1 10s infinite;
    -webkit-transform-origin: 50% 50%;
}
#letter-q-line {
    width: 17px;
    height: auto;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform: rotate(-25deg)
}
#robot-sparks-decor {
    opacity: 0;
}
#robot-sparks-decor.anim {
    -moz-animation: sparks 1s;
    -ms-animation: sparks 1s;
    -o-animation: sparks 1s;
    -webkit-animation: sparks 1s;
    animation: sparks 1s;
    /*animation-timing-function: cubic-bezier(.65,0,.32,1.55);*/
}
#robotdebris2 {
    position: absolute;
    left: 0
}
#robotdebris.anim {
    -moz-animation: d_moving_r 8s ease;
    -ms-animation: d_moving_r 8s ease;
    -o-animation: d_moving_r 8s ease;
    -webkit-animation: d_moving_r 8s ease;
    animation: d_moving_r 8s ease;
}
#robotdebris2.anim {
    -moz-animation: d_moving_l 4s ease;
    -ms-animation: d_moving_l 4s ease;
    -o-animation: d_moving_l 4s ease;
    -webkit-animation: d_moving_l 4s ease;
    animation: d_moving_l 4s ease;
}
/*.letter-q.anim img {
    -moz-animation: q_appear 4s;
    -ms-animation: q_appear 4s;
    -o-animation: q_appear 4s;
    -webkit-animation: q_appear 4s;
    animation: q_appear 4s;
}*/
/*.block-intro-title.anim #letter-q-circle {
    -moz-animation: gear_r 8s infinite;
    -ms-animation: gear_r 8s infinite;
    -o-animation: gear_r 8s infinite;
    -webkit-animation: gear_r 8s infinite;
    animation: gear_r 8s;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}*/
@keyframes sparks {
    0%, 25% {opacity: 0}
    25% {opacity: .5}
    37.5% {opacity: 1}
    75% {opacity: .8}
    75%, 100% {opacity: 0}
}
@keyframes rotation {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
@keyframes rotation1 {
    from {transform: rotate(0deg)}
    to {transform: rotate(-360deg)}
}
@keyframes d_moving_r {
    from {transform: translate(-70px, -20px)}
    to {transform: translate(0, 0)}
}
@-webkit-keyframes d_moving_r {
    from {transform: translate(-70px, -20px)}
    to {transform: translate(0, 0)}
}
@keyframes d_moving_l {
    from {transform: translate(-15px, -5px)}
    to {transform: translate(0, 0)}
}
.header-title-txt {
    margin-top: 30px
}
.header-title-txt img {
    max-height: 80px
}

/* Gallery */
/* Companies - tree hierarchy */
.list-companies {
    margin-top: 50px;
    transform: rotate(-3deg)
}
.list-companies label, .list-companies ul li, .list-companies ul li a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
/*.list-companies > li > label {
    font-size: 22px
}*/
#gallery {
    float: right
}
.gallery-container {
    /*width: 25000px;*/
    /*max-height: 90vh;
    margin-bottom: 30px;
    margin-top: 30px;*/
}
.gallery-container h1 {
    text-align: center;
    /*font-family: 'Menlo Regular';*/
    font-size: 1.5em;
    font-weight: 600;
    color: #e71746/*#d7066c*/
}
.gallery-container p.description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}
.tz-gallery {
    display: none
}
.tz-gallery.current {
    display: block;
    -webkit-animation: tz_show 1s;
    animation: tz_show 1s;
}
@keyframes tz_show {
    from {opacity: 0}
    to {opacity: 1}
}
.tz-gallery.row {
    margin-left: 0 !important;
    margin-right: 0 !important
}
/*.tz-gallery .thumbnail .fit-content {
    margin-right: auto;
    margin-left: 0;
    max-height: 20vh
}*/
.g-root {
    padding-inline-start: 20px
}
#gallery .tz-gallery .thumbnail {
    background-color: transparent;
    border: none
}
.tz-gallery .thumbnail.active img {
    border: 2px solid rgba(255, 255, 255, 0.7);
}
.tz-gallery, .thumbnail {
    padding: 0;
    transition: 0.2s ease-in-out;
}
.tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}
.invitation, .tz-gallery .thumbnail, .tz-gallery .lightbox img {
    border-radius: 3px
}
.invitation img {
    max-width: 40px
}
.lightbox {
    background-color: transparent;
}
#baguetteBox-overlay figcaption {
    background-color: transparent !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    text-shadow: 5px 5px 10px #000;
    font-size: 18px;
    font-weight: 300
}
#previous-button, #next-button {
    display: block !important
}
#previous-button svg, #next-button svg {
    transform-origin: 50% 50%;
    transform: scale(.75)
} 
.tz-gallery .caption {
    padding: 26px 30px;
    text-align: center;
}
.tz-gallery .caption p, .tz-gallery .caption pre {
    margin: 0;
    font-size: 16px
}
.baguetteBox-button {
    background-color: transparent !important;
}

/* 404 Error page */
.bg-out {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#section_1.bg-out img {
    max-width: 50%
}
#section_2.bg-out img {
    max-width: 75%
}
#section_1.bg-out .comet {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden
}
#section_1.bg-out .comet img {
    position: absolute;
    height: 20px;
    top: 100px;
    left: -200px;
    -webkit-animation: comet_ 2s;
    animation: comet_ 2s;
}
@keyframes comet_ {
    0%, 50% {opacity: 0; transform: translate(0, 0)}
    50% {opacity: 1; transform: translate(0, 0)}
    100% {opacity: 1; transform: translate(400vw, 300px)}
}
@media screen and (max-width: 767px) {
    #section_1.bg-out img {
        max-width: 66.6%
    }
    #section_2.bg-out img {
        max-width: 90%
    }
}
